<?xml version="1.0" encoding="UTF-8"?>
<!--
   This file is part of Joe's Own Editor for Windows.
   Copyright (c) 2014 John J. Jordan.
 
   Joe's Own Editor for Windows is free software: you can redistribute it
   and/or modify it under the terms of the GNU General Public License as
   published by the Free Software Foundation, either version 2 of the
   License, or (at your option) any later version.
 
   Joe's Own Editor for Windows is distributed in the hope that it will
   be useful, but WITHOUT ANY WARRANTY; without even the implied warranty
   of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.
 
   You should have received a copy of the GNU General Public License
   along with Joe's Own Editor for Windows.  If not, see
   <http://www.gnu.org/licenses/>.
-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include properties.wxi ?>

  <Fragment>
    <ComponentGroup Id="VTComponentGroup" Directory="VTFOLDER">
      <Component Id="VTBATComponent" Guid="*" Win64="$(var.Win64)">
	<File Id="VTBAT" Name="vt.bat" DiskId="1" Source="$(var.VTDir)\vt.bat" KeyPath="yes" />
      </Component>
      <Component Id="ShellSHComponent" Guid="*" Win64="$(var.Win64)">
	<File Id="ShellSH" Name="shell.sh" DiskId="1" Source="$(var.VTDir)\shell.sh" KeyPath="yes" />
      </Component>
      <Component Id="ShellCSHComponent" Guid="*" Win64="$(var.Win64)">
	<File Id="ShellCSH" Name="shell.csh" DiskId="1" Source="$(var.VTDir)\shell.csh" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>